/* BookDetails.css */

  .bookcover-image {
    width: 100%; /* Set a fixed width for the image */
    max-width: 300px;
  }
  
  .request-button {
    width: 100%; /* Make the button 100% width */
    max-width: 300px;
  }
  
  
  .unique-title {
    /* Styling for the unique title */
    font-size: 24px;
    color: #333;
    font-weight: bold;
  }
  
  .unique-author {
    /* Styling for the unique author */
    font-size: 18px;
    color: #555;
  }
  
 

  .genre-badge {
    border: 1px solid #ced4da; /* Bootstrap gray border color */
    padding: 0.25rem 0.5rem; /* Padding for the badge */
  }
  

  